* {
    margin: 0;
    padding: 0;
}

.main {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.bus-schedule, .bus-schedule > table, th, td {
  border: 1px solid black;
    text-align: center;
}

.bus-full {
    background-color: lightcoral;
}

.bus-leaving {
    background-color: lightblue;
}

.bus-arriving {
    background-color: darkseagreen;
}

.low-seats {
    background-color: lightyellow;
}